<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<p>Pair Chosen:</p>
	<p th:text="${cpair}"></p>
	<form action="/getrate">
		<br> <br>
		<div>
			<input type="radio" name="buysell" value="buy" checked>Buy
	  		<input type="radio" name="buysell" value="sell">Sell<br>
			<br> <br>
		</div>
	<br> <br> Enter ClientID:<input type="text" name="ClientID">
		<table>
			<tr th:each="p:${pair}">			
				<td><input type="radio" name="currency" th:value="${p.basecurrency}" checked>
				<span th:text="${p.basecurrency}"></span></td>
	  			<td><input type="radio" name="currency" th:value="${p.termcurrency}">
	  			<span th:text="${p.termcurrency}"></span></td>
			</tr>
		</table>
		
		<br> <br> Enter Amount:<input type="text" name="amount">
		
		<input type="submit" value="Get Rate">
	</form>

</body>
</html>

