<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Deal Booking</title>

<link th:href="@{/dealb.css}" type="text/css" rel="stylesheet" />

</head>
<body>
<h1 style="font-size:50px"><center>DEAL BOOKING</center></h1>
<br>
<h2 style="font-size:30px"><center>CURRENCY PAIR</center></h2>

<form action="action_page.php">
  <div class="imgcontainer">
    <img src="bicon.png" alt="Avatar" class="avatar">
  </div>


  <div class="container">
  
    
    <br>
    <label for="field4"><span>CURRENCY PAIR &nbsp;</span><select name="field4" class="select-field" style="
    width: 200px;
    margin-left: -;
    height: 41px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
">
<option value="General Question">General</option>
<option value="Advertise">Advertisement</option>
<option value="Partnership">Partnership</option>
</select></label>

<br><br>

<input type = "radio" name ="buy/sell" style="
    margin-left: 133px;
">BUY
<input type = "radio" name ="buy/sell">SELL

    
    <br>


    <button type="submit">NEXT</button>
   
</form>


</body>
</html>