<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Deal Booking</title>

<link th:href="@{/dealbooks.css}" type="text/css" rel="stylesheet" />

</head>
<body>
<h1 style="font-size:50px"><center>DEAL BOOKING</center></h1>
<br>
<h2 style="font-size:30px"><center>CURRENCY PAIR</center></h2>


  <div class="imgcontainer">
    <img src="bicon1.png" alt="Avatar" class="avatar">
  </div>


  <div class="container">
  
    
    <br>
    <form action="/bookdeal" method="post">
    <label for="CurrencyPairs"><span>CURRENCY PAIR &nbsp;</span><select name="CurrencyPairs" class="select-field" style="
    width: 200px;
    margin-left: -;
    height: 41px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
">
	<option value="0">Select Currency Pair:</option>
    <option value="AUD/USD">AUD/USD</option>
    <option value="GBP/USD">GBP/USD</option>
    <option value="USD/CAD">USD/CAD</option>
    <option value="USD/CHF">USD/CHF</option>   
    <option value="USD/JPY">USD/JPY</option>  
    <option value="USD/INR">USD/INR</option>  
</select></label>



 <button type="submit">SUBMIT</button>

	
</form>
</div>
<br><br>


</body>
</html>




