<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Shippers</title>
<style>
	table, td, th {
		border: 1px solid black;
	}
	
</style>
</head>
<body style="background-color:aqua">
<h2>Northwind Shippers (TL) <a href="/">Home</a></h2>
<table>
	<tr><th>Company Name</th><th>Phone</th><th>Delete</th></tr>
	<tr th:each="s:${shippers}">
		<td><a th:href="'/edit/' + ${s.id}"><span th:text="${s.name}"></span></a></td>
		<td th:text="${s.phone}">Price</td>
		<td><a th:href="'/delete/' + ${s.id}" 
		onclick="return confirm('Are you sure you want to delete this shipper?')">Delete</span></a></td>
	</tr>
</table>
</body>
</html>